@media (max-width: 375px) {
  body {
    background: url(../images/bg-mobile.svg) center top no-repeat;
    background-color: var(--cor-de-fundo);
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .header {
    display: flex;
    align-items: flex-end;
    padding-left: 5rem;
  }

  .header .logo {
    margin: 0;
    width: 10rem;
  }

  .hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .hero .imagem {
    margin: 0 auto;
  }

  .hero .imagem img {
    margin-top: -3.5rem;
  }

  .hero .info {
    margin: 5rem 1rem;
    gap: 1rem;
  }

  .hero .info h1 {
    padding: 0.1rem;
  }

  .hero .info p {
    margin: 0 3.5rem;
  }

  .footer {
    display: flex;
    justify-content: center;
    margin-top: -5rem;
  }

  .footer .icons {
    padding: 0;
  }

  .footer .icons a {
    padding: 0.5rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .header {
    height: 10vh;
  }

  .header .logo {
    max-width: 15rem;
  }

  .hero {
    margin-top: 10rem;
  }

  .hero .imagem {
    max-width: 100%;
  }

  .hero .imagem img {
    width: 30rem;
  }

  .hero .info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
  }

  .hero .info h1 {
    font-size: 2.5rem;
    margin-top: 0;
  }

  .hero .info p {
    font-size: 1.3rem;
    padding: 0.7rem;
  }

  .hero .info .btn {
    margin: 0;
    font-size: 1.5rem;
    padding: 1rem 5rem;
  }

  .footer .icons {
    margin: 5rem 0;
    padding-top: 3rem;
    font-size: 2rem;
  }
}
